body {
    font-family: 'Marck Script', cursive;
    font-size: 30px;
}

h1 {
    font-size: 100px;
    text-align: center;
}

.flex-wrap {
    display: flex;
    justify-content: center;
}

.main {
    width: 700px;
}

.emoji-select {
    width: 50px;
    height: 50px;
}

.emoji-container {
    display: flex;
    justify-content: space-between;
    width: 215px;
}

.textarea {
    width: 450px;
    height: 145px;
}

.save {
    width: 150px;
    height: 30px;
    font-family: 'Jura', sans-serif;
    font-size: 24px;
    margin: 20px 0;
}

.record-container {
    display: flex;
    flex-direction: column;
}

.record {
    border-top: thin solid black;
    display: flex;
    flex-direction: column;
}

.record-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.emoji {
    width: 25px;
    height: 25px;
}

.record-text {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

.rounded-selection {
    border: thin solid black;
    border-radius: 3px;
}